h1{
    margin: 3rem 0;
}
.corpo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.detalhes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
    max-width: 40%;

}
button{
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    color:orange;
    margin-top: 1rem;
    font-size: 100%;
    padding:0.5rem;
}

span{
    line-height: 125%;
    margin-bottom: 2rem;
    font-size:large;
}